extends placeholders/header
block content
  link(rel="stylesheet", href="/stylesheets/notFound.css")
  div.container#main-container
    div.row
      div.col-md-6.col-xs-6
        h1#main-header Oops!
    div.row
      div.col-md-7.col-xs-12
        h3 We can't seem to find the page you're looking for
    div.row
      div.col-md-6.col-xs-6
        p <strong>Error Code:</strong> <em>404</em>

    div.jumbotron
      p Here are some helpful links:
      ul#helpful_links
        li <a href="\"> home </a>        
         
