extends placeholders/header
block content
  aside.sidebarDisplayed
    #page-content-wrapper
      .container-fluid
        .page-header
          h2 Sports
        row
          .col-md-12
            #accordion.panel-group(role='tablist', aria-multiselectable='true')
              .panel.panel-default
                #headingOne.panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', href='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
                      span
                        img(src='/assets/images/svg/soccer.svg' alt='Soccer', title='Soccer', width='24', height='24')
                        |  Soccer
                #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
                  .panel-body
                    img.img-responsive(src='/assets/images/raster/jpg/soccer.jpg', title='Soccer')
              .panel.panel-default
                #headingTwo.panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                      span
                        img(src='/assets/images/svg/basketball.svg' alt='Basketball', title='Basketball', width='24', height='24')
                        |  Basketball
                #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
                  .panel-body
                    img.img-responsive(src='/assets/images/raster/jpg/basketball.jpg', title='Basketball')
              .panel.panel-default
                #headingThree.panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                      span
                        img(src='/assets/images/svg/volleyball.svg' alt='Volleyball', title='Volleyball', width='24', height='24')
                        |  Volleyball
                #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                  .panel-body
                    img.img-responsive(src='/assets/images/raster/jpg/volleyball.jpg', title='Volleyball')
              .panel.panel-default
                #headingFour.panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', href='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                      span
                        img(src='/assets/images/svg/baseball.svg' alt='Baseball', title='Baseball', width='24', height='24')
                        |  Baseball
                #collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFour')
                  .panel-body
                    img.img-responsive(src='/assets/images/raster/jpg/baseball.jpg', title='Baseball')
              .panel.panel-default
                #headingFive.panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', href='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                      span
                        img(src='/assets/images/svg/runer-silhouette-running-fast.svg' alt='Runer', title='Runer', width='24', height='24')
                        |  Coming Soon
                #collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFive')
                  .panel-body
                    | We are currently working on adding more sports for you.
