mixin form-element(forLabel, label, type, name, id, placeholder, iconClassName, requiredBool)
  .form-group
    label(for= forLabel) #{label}:
    .input-group
      span.input-group-addon
        i(class= iconClassName, style="color : black")
      input.form-control(id= id, type= type, name= name, placeholder= placeholder, required= requiredBool)&attributes(attributes)
    .help-block.with-errors.has-error
